   body{
      background: #F9CB9C;
      background-image: linear-gradient(to bottom,  #FF2D25 , #FF2D25 60%, #F9CB9C 40%,  #F9CB9C); 
      height: 100%;

    }
      
      #text-align  {
          font-family: Lobster;
          color: #ff2d25;
          position: relative;
          left: 150px;
          top: 25px;
    }
          #text-align2  {
          font-family: Lobster;
          color: #ff2d25;
          position: relative;
          left: 450px;
          bottom: 25px;
    }
        #text-align3  {
          font-family: Lobster;
          color: #ff2d25;
          position: relative;
          left: 450px;
          bottom: 30px;
    }
         #text-align4  {
          font-family: Lobster;
          color: #ff2d25;
          position: relative;
          left: 450px;
          bottom: 40px;
    }
          #text-align5  {
          font-family: Lobster;
          color: #ff2d25;
          position: relative;
          left: 450px;
          bottom: 45px;
    }
          #text-align6  {
          font-family: Lobster;
          color: #ff2d25;
          position: relative;
          left: 450px;
          bottom: 55px;
    }
          #text-align7  {
          font-family: Lobster;
          color: #ff2d25;
          position: relative;
          left: 450px;
          bottom: 60px;
    }
           #text-align8  {
          font-family: Lobster;
          color: #ff2d25;
          position: relative;
          left: 450px;
          bottom: 70px;
    }
          #text-align9  {
          font-family: Lobster;
          color: #ff2d25;
          position: relative;
          left: 450px;
          bottom: 75px;
    }
          #text-align10  {
          font-family: Lobster;
          color: #ff2d25;
          position: relative;
          left: 450px;
          bottom: 77px;
    }
    main   {
        height: 700px;
        width: 1000px;
        background-color: #f9cb9c;
        border-style: solid;
        border-width: 2px;
        border-color: #ff2d25;
        margin:auto auto 100px auto;
    }

      h1 {
        color: black;
        text-align: center;
        font-family: Lobster;
    } 
      .footer1 {
          font-family: Lobster;
          color: #ff2d25;
          position: relative;
          left: 150px;
          bottom: 20px;
    }
       .footer2 {
          font-family: Lobster;
          color: #ff2d25;
          position: relative;
          left: 500px;
          bottom: 20px;
      }
      
    @media screen and (max-width: 680px) {
 
    }
    
