      h2   {
          font-family: Lobster;
          color: #ff2d25;
          position: relative;
          left: 150px;
          top: 25px;
    }
    .Boxcontainer   {
        height: 550px;
        width: 1000px;
        background-color: #f9cb9c;
        border-style: solid;
        border-width: 8px;
        border-color: #ff2d25;
        margin: 0 auto;
        flex-direction: column;
    }
    .background-color  {
        background-color: #ff2d25;
        height: 50%;
    }
      .extra {
        color: black;
        text-align: center;
        font-family: Lobster;
        background-color: #ff2d25;
    } 
    @media screen and (max-width: 680px) {
     body  {
        background-color: #000;
 
